<nav class="navbar navbar-expand-lg " style="background-color: #3f4e58;">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">CineMate</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-light" aria-current="page" href="#">Profile</a>
        <a class="nav-link text-light" href="#">Features</a>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid py-2" style="background-color: #3f4e58">
  <hr class="m-1">
  <div class="row">
    <div class="d-flex justify-content-evenly">
      <a href="">Find Movies</a>
      <a href="" routerLink="profile">Personalised</a>
    </div>
  </div>
</div>