

  <div class="container mt-5">
    <h1 class="mb-4">Favorites</h1>

    <!-- Movie Cards -->
    <div class="row">
      <!-- Movie 1 -->
      <div class="col-lg-2 mb-4">
        <div class="card">
          <img src="https://image.tmdb.org/t/p/w300//jE5o7y9K6pZtWNNMEw3IdpHuncR.jpg" class="card-img-top" alt="Movie 1">
          <div class="card-body">
            <h5 class="card-title">Movie 1</h5>
            <p class="card-text">Description of Movie 1.</p>
          </div>
        </div>
      </div>

      <!-- Movie 2 -->
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="movie2.jpg" class="card-img-top" alt="Movie 2">
          <div class="card-body">
            <h5 class="card-title">Movie 2</h5>
            <p class="card-text">Description of Movie 2.</p>
          </div>
        </div>
      </div>

      <!-- Add more movie cards as needed -->

    </div>
    <!-- End Movie Cards -->

  </div>
