<section class="bg-light">
    <div class="container my-4">
        <div class="row">
            <h2>Comments</h2>
        </div>
        <div class="row">
            <div class="col-sm-12 ">
                <div class="comment my-4">
                  <div class="comment-header">
                    <span class="comment-username">John Doe</span>
                    <span class="comment-time">July 19, 2023</span>
                  </div>
                  <div class="comment-content">
                    This is the comment content. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </div>
                </div>

                <div class="comment my-4">
                    <div class="comment-header">
                      <span class="comment-username">John sdaffDoe</span>
                      <span class="comment-time">July 19, 2023</span>
                    </div>
                    <div class="comment-content">
                      This is the comet, consectetur adipiscing elit.
                    </div>
                  </div>

                  <div class="comment my-4">
                    <div class="comment-header">
                      <span class="comment-username"> Doe</span>
                      <span class="comment-time">July 19, 2023</span>
                    </div>
                    <div class="comment-content">
                      This is the comment content. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolor veniam aliquam et ea, tenetur corporis tempore dolorem culpa earum laborum maiores delectus porro doloribus est neque temporibus ducimus debitis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                  </div>
              </div>
        </div>
    </div>
</section>